<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Contexto" providerName="System.Data.SqlClient" connectionString="data source=BVP_SISE_HOM\BVP_SISE_HOM; Initial Catalog=SCA; Integrated Security=False; MultipleActiveResultSets=true; User Id=sca; Password=sca#1931;" />
    <add name="ContextoHom" providerName="System.Data.SqlClient" connectionString="data source=BVP_SISE_HOM\BVP_SISE_HOM; Initial Catalog=SISED000; Integrated Security=False; MultipleActiveResultSets=true; User Id=sise0010; Password=sise0010;" />
  </connectionStrings>
</configuration>